.app{
  padding: 10%;
}

.error-msg-box-wrapper{
  height: 20px;
  font-size: 12px;
  color:red;
}

.input-box-wrapper{
  padding: 10px 0px;
}

.input-box-wrapper input{
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  margin-right: 10px;
}
.submit-button{
  padding: 8px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  color: #FFF;
  background-color: #04C;
}

.result-box-wrapper{
  padding: 10px 0px;  
  word-wrap: break-word;
  text-align: left;
}